.conteudo {
    margin-bottom: 2em;
}

.marcas-produto {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-marca-roupa {
    width: 200px;
    height: 200px;
}

.destaques-loja {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.departamento {
    width: 50%;
    margin: .5em auto 0 auto;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.icone-assunto-livro {
    width: 50px;
    height: 50px;
    background-color: rgb(250, 250, 63);
    color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitulo {
    color: var(--dark-grey);
    font-size: 14px;
    margin-top: .8em;
}

@media (max-width: 500px) {
    .conteudo {
        width: 90%;
        margin: 1em auto;
        height: 50%;
    }

    .destaques-loja {
        width: 100%;
        margin: 0 auto;
    }
    
    .departamento {
        width: 80%;
        margin: 1em auto;
        font-size: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    
    .icone-assunto-livro {
        width: 50px;
        height: 50px;
        background-color: rgb(250, 250, 63);
        color: var(--black);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .marcas-produto {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}