.rodape {
    background: var(--dark-grey);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    padding: 2em 0;
}

.logo-rodape {
    font-size: 28px;
    font-weight: 700;
}

.logo-rodape::first-letter {
    color: var(--red);
}

.rodape .info-loja .link-rede-sociais i {
    margin: 10px 5px;
    cursor: pointer;
}

.informacoes .titulo-informacao {
    font-weight: 700;
    margin-bottom: .5em;
}

.informacoes ul li {
    list-style-type: none;
}

.informacoes ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

@media (max-width: 500px) {
    .rodape {
        background: var(--dark-grey);
        color: var(--white);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 1em;
        padding: 2em;
    }
}