@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('navbar.css');
@import url('banner.css');
@import url('main.css');
@import url('card-produtos-destaque.css');
@import url('banne-lancamento.css');
@import url('rodape.css');
@import url('page-products.css');
@import url('service.css');
@import url('products.css');
@import url('modal.css');
@import url('contact.css');
@import url('buttons.css');

:root {
    --font: 'Open Sans', sans-serif;
    --black: #000000;
    --light-grey: #8b8b8af8;
    --dark-grey: #5D5D5D;
    --light-pink: #f3dbe0;
    --red: #e24b58;
    --white: #fff;
    --orange: #F49D5D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--white);
}
